/* src/components/Footer.css */

.footer {
  background-color: #000000;
  color: #eee;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  position: relative; 
  width: 100%;
font-family: sans-serif;
}
